#first-knob-row {
    display: flex;
    justify-content: center;
}

#second-knob-row {
    display: flex;
    justify-content: center;
}


.knob-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

#controls {
    margin-top: 5%;
}

#switch-percent-nominal-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#switch-percent-nominal-text {
    margin-right: 15px;
}